@import '~antd/dist/antd.css';

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    position: absolute;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(158, 158, 158);
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #ddd;
    border-radius: 10px;
}
